@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes right-to-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

.home {
  margin: auto;
  max-width: 1200px;
}

.animate-pop-in {
  animation: pop-in .6s ease-out forwards;
}

.animate-slide {
  animation: right-to-left .6s ease-out forwards;
}